/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
  color: #fff;
}

/* Custom default button */
.btn-default,
.btn-default:hover,
.btn-default:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
  background-color: #fff;
  border: 1px solid #fff;
}


/*
 * Base structure
 */

html,
body {
  height: 100%;
  background-color: #333;
}
body {
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 3px rgba(0,0,0,.5);
}

/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
  display: table;
  width: 100%;
  height: 100%; /* For at least Firefox */
  min-height: 100%;
  -webkit-box-shadow: inset 0 0 100px rgba(0,0,0,.5);
          box-shadow: inset 0 0 100px rgba(0,0,0,.5);
}
.site-wrapper-inner {
  display: table-cell;
  vertical-align: top;
}
.cover-container {
  margin-right: auto;
  margin-left: auto;
}
.no_gradient {
  -webkit-box-shadow: None;
          box-shadow: None;
  color: #333;
}

/* Padding for spacing */
.inner {
  padding: 50px;
}


/*
 * Header
 */
.masthead-brand {
  margin-top: 10px;
  margin-bottom: 10px;
}

/*.masthead-nav > li {
  display: inline-block;
}*/
/*.masthead-nav > li + li {
  margin-left: 20px;
}*/
.masthead-nav > li > a,
.masthead-nav > li > div > a {
  padding-right: 0;
  padding-left: 0;
  font-size: 16px;
  font-weight: bold;
  color: #fff; /* IE8 proofing */
  color: rgba(255,255,255,.75);
  border-bottom: 2px solid transparent;
}
.masthead-nav > li > a:hover,
.masthead-nav > li > a:focus,
.masthead-nav > li > div > a:hover,
.masthead-nav > li > div > a:focus {
  background-color: transparent;
  border-bottom-color: #a9a9a9;
  border-bottom-color: rgba(255,255,255,.25);
}
.masthead-nav > .active > a,
.masthead-nav > .active > a:hover,
.masthead-nav > .active > a:focus,
.masthead-nav > .active > div > a,
.masthead-nav > .active > div > a:hover,
.masthead-nav > .active > div > a:focus {
  color: #fff;
  border-bottom-color: #fff;
}
.masthead-nav > .option > a,
.masthead-nav > .option > a:hover,
.masthead-nav > .option > a:focus,
.masthead-nav > .option > div > a,
.masthead-nav > .option > div > a:hover,
.masthead-nav > .option > div > a:focus {
  color: #fff;
  background-color: rgba(49,176,213,0.2);
}
.masthead-nav > .chosen > a,
.masthead-nav > .chosen > a:hover,
.masthead-nav > .chosen > a:focus,
.masthead-nav > .chosen > div > a,
.masthead-nav > .chosen > div > a:hover,
.masthead-nav > .chosen > div > a:focus {
  color: #fff;
  background-color: rgba(49,176,213,1);
}



/*
 * Cover
 */

.cover {
  padding: 0 20px;
}
.cover .btn-lg {
  padding: 10px 20px;
  font-weight: bold;
}


/*
 * Footer
 */

.mastfoot {
  color: #999; /* IE8 proofing */
  color: rgba(255,255,255,.5);
}

.color_list {
  text-align: left;
}

.list_circle {
  width: 10px;
  height: 10px;
  background: red;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;

  margin-right: 20px;
}


/*
 * Affix and center
 */

@media (min-width: 768px) {
  /* Pull out the header and footer */
  .masthead {
    position: fixed;
    top: 0;
  }
  .mastfoot {
    position: fixed;
    bottom: 0;
  }
  /* Start the vertical centering */
  .site-wrapper-inner {
    vertical-align: middle;
  }
  /* Handle the widths */
  .masthead,
  .mastfoot,
  .cover-container {
    width: 100%; /* Must be percentage or pixels for horizontal alignment */
  }
}

@media (min-width: 992px) {
  .masthead,
  .mastfoot,
  .cover-container {
    width: 100%;
  }
}



.tg  {border-collapse:collapse;border-spacing:0;}
.tg td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:black;}
.tg th{font-family:Arial, sans-serif;font-size:18px;font-weight:bold;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:black;}
.tg .tg-yal4{background-color:#009901;color:#ffffff;border-color:inherit;text-align:center;vertical-align:top}
.tg .tg-rsie{background-color:#009901;color:#ffffff;border-color:inherit;vertical-align:top}
.tg .tg-3up7{background-color:#68cbd0;color:#ffffff;border-color:inherit;text-align:center;vertical-align:top}
.tg .tg-2sli{background-color:#fd6864;color:#ffffff;border-color:inherit;text-align:center;vertical-align:top}